

body {
    padding-top: 50px; 

	}
a{
	cursor: default;
}

.img-center {
	margin: 0 auto;
}


footer {
    margin: 50px 0;
}
.navbar {
      margin-bottom: 0;
      background-color: #800000;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #800000 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
	  background-image: linear-gradient(to bottom,#800000 0,#800000 100%);
	  background-color: #800000 !important;
      color: #fff !important;
  }
 .glyphicon-file{
	 font-size: 0.75em;
	 margin-bottom: 30px;
 }
 .glyphicon-file:hover{
	 font-size: 0.75em;
	 color: grey;
 }
 h3{
	margin-top: 10px;
 }
.img-circle:hover{
	box-shadow: 0px 0px 2px #888888;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	cursor: pointer;
}
.img-circle{
	border-style: solid;
    border-width: 5px;
}